@{
    ViewData["Title"] = "Login";
}

@if (ViewData.Keys.Contains("message") && !string.IsNullOrEmpty(ViewData["message"]?.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["message"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Use your Microsoft account to log in.</p>
    <a class="btn btn-success" asp-action="ExternalLogin" asp-route-provider="Microsoft">Continue with Microsoft</a>
</div>